<div class="updateInfoModule">
	<div class="my-logo"></div><br />
	<form role="form">
		<div class="form-group">
			<input type="text" class="form-control" id="firstName" placeholder="First Name" value="<%= document.firstName %>">
		</div>
		<br />
		<div class="form-group">
			<input type="text" class="form-control" id="lastName" placeholder="Last Name" value="<%= document.lastName %>">
		</div>
		<br />
		<div id="updateInfoMsg">&nbsp;</div>
		<br />
		<button type="submit" class="btn btn-warning" id="submit">Update</button>
	</form>
</div>
