<% if (visible === true) { %>
    <div class="navbar navbar-fixed-bottom navbar-default text-center bottomMenuModule">
        <div class="row">
            <% if (first.visible === true) { %>
                <div class="col-xs-<%= 12/(~~first.visible + ~~second.visible + ~~third.visible) %> my-bottomMenuLink <% if (first.active === true) { %>active<% } %>">
                    <% if (first.route !== '') { %>
                        <a href="#<%= first.route %>">
                    <% } %>
                    <% if (first.icon !== '') { %>
                        <img src="<%= first.icon %>" />
                    <% } else { %>
                        <span><%= first.title %></span>
                    <% } %>
                    <% if (first.route !== '') { %>
                        </a>
                    <% } %>
                </div>
            <% } %>
            <% if (second.visible === true) { %>
                <div class="col-xs-<%= 12/(~~first.visible + ~~second.visible + ~~third.visible) %> my-bottomMenuLink <% if (second.active === true) { %>active<% } %>">
                    <% if (second.route !== '') { %>
                        <a href="#<%= second.route %>">
                    <% } %>
                    <% if (second.icon !== '') { %>
                        <img src="<%= second.icon %>" />
                    <% } else { %>
                        <span><%= second.title %></span>
                    <% } %>
                    <% if (second.route !== '') { %>
                        </a>
                    <% } %>
                </div>
            <% } %>
            <% if (third.visible === true) { %>
                <div class="col-xs-<%= 12/(~~first.visible + ~~second.visible + ~~third.visible) %> my-bottomMenuLink <% if (third.active === true) { %>active<% } %>">
                    <% if (third.route !== '') { %>
                        <a href="#<%= third.route %>">
                    <% } %>
                    <% if (third.icon !== '') { %>
                        <img src="<%= third.icon %>" />
                    <% } else { %>
                        <span><%= third.title %></span>
                    <% } %>
                    <% if (third.route !== '') { %>
                        </a>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>
<% } %>