<% if (visible === true) { %>
    <div class="navbar navbar-fixed-top navbar-default text-center topMenuModule">
        <div class="row my-menu">
            <% if (left.route !== '') { %>
                <a href="#<%= left.route %>">
            <% } %>
                <div class="col-xs-2">
                    <% if (left.visible === true) { %>
                        <% if (left.icon !== '') { %>
                            <img src="<%= left.icon %>" />
                        <% } else { %>
                            <span><%= left.title %></span>
                        <% } %>                    
                    <% } %>
                </div>
            <% if (middle.route !== '') { %>
                </a>
            <% } %>
            <% if (middle.route !== '') { %>
                <a href="#<%= middle.route %>">
            <% } %>
                <div class="col-xs-8">
                    <% if (middle.visible === true) { %>
                        <% if (middle.icon !== '') { %>
                            <img src="<%= middle.icon %>" />
                        <% } else { %>
                            <span><%= middle.title %></span>
                        <% } %>                    
                    <% } %>
                </div>
            <% if (middle.route !== '') { %>
                </a>
            <% } %>
            <% if (right.route !== '') { %>
                <a href="#<%= right.route %>">
            <% } %>
                <div class="col-xs-2">
                    <% if (right.visible === true) { %>
                        <% if (right.icon !== '') { %>
                            <img src="<%= right.icon %>" />
                        <% } else { %>
                            <span><%= right.title %></span>
                        <% } %>                    
                    <% } %>
                </div>
            <% if (right.route !== '') { %>
                </a>
            <% } %>
        </div>
    </div>
<% } %>