<div class="pageModule my-page my-pages-attr1-<%= attr1 %>">
	<div class="row">
		<div class="col-xs-6 text-left">
			<input class="h5 bold" value="<%= name %>" id="pageName"/>
		</div>
		<div class="col-xs-2"></div>
		<div class="col-xs-4 text-right bold">
			<span>Created <%= created %></span>
		</div>
	</div>
	<div class="text-left">
<!-- 				<span class="bold">Updated <%= updated %></span> -->
		<textarea class="my-pages-context-<%= context %>" id="pageContent"><%= content %></textarea>
	</div>
	<div><%= attr2 %></div>
</div>